body {
  font-family: Arial, sans-serif;
  background: #f5f7ff;
  text-align: center;
  margin: 0;
  transition: 0.3s;
}

.dark {
  background: #111;
  color: #eee;
}

#themeToggle {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #444;
  color: white;
  cursor: pointer;
}

.dark #themeToggle {
  background: #ddd;
  color: #111;
}

.container {
  margin: 80px auto;
  width: 90%;
  max-width: 700px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  width: 65%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.suggestions {
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin: auto;
  border-radius: 6px;
  text-align: left;
  box-shadow: 0 3px 10px rgba(0,0,0,.15);
}

.suggestions li {
  padding: 12px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #e8e8e8;
}

.dark .suggestions {
  background: #222;
  color: white;
}

.dark .suggestions li:hover {
  background: #333;
}

#loading {
  font-size: 18px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.result {
  background-color: white;
  padding: 16px;
  margin: 12px auto;
  width: 100%;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.dark .result {
  background: #222;
  color: white;
}

.icon {
  width: 50px;
  float: right;
  border-radius: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

.dark a {
  color: #4dabff;
}

.error {
  color: red;
  margin-bottom: 10px;
}

